@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #fe9200;
    --color-secondary: #fe4d0e;
    --color-white:#ffff;
    --color-errors:#b63202;
    /* ... */
  }
}
